<!DOCTYPE html>
<html lang=en-US><head>
	<meta charset=UTF-8>
<link rel=stylesheet href=/css/style.css>
<script src=/js/script.js></script>
	<title>Meal Tracking Application - Home</title></head>
	<div id=meals>
		<form method=post action=add-meal name=eat id=eat>
		<select name=category id=category>
		<option value=breakfast>breakfast</option>
		<option value=lunch>lunch</option>
		<option value=dinner>dinner</option>
		<option value=snack>snack</option>	
		<option value=suppliment>suppliment</option>	
		</select>
		<input type=text name=food id=food />
		<input  id=mealBttn type=submit value=Add />
		<input type=hidden name=user id=user />

		</form>
		<h3>Past meals:</h3>
		<ul>
		  {% for meal in meals %}
		  <li>{{meal.category}} : {{meal.food}}</li>
		  {% endfor %}</ul><hr></div>
	<div id=groceries>
<form action=add-expense method=post id=buy name=buy>
	<input name=item type=text />
	$ <input name=amount type=text size=5 />
	<input type=submit id=expenseBttn value=Add  />	
<input type=hidden name=user id=user />
</form>
<h3>Expense: <span id=expense>${{cost|floatformat}}</span></h3><hr>
<h3>Purchases:</h3>
<ul id=purchase class=list>
{% for expense in expenses %}
<li>{{expense.item}}: $ {{expense.amount|floatformat}}
</li> 

{% endfor %}
</ul>
<hr>

</div>
<p>Logged in as {{user}} - <a href="{{url}}">{{url_linktext}}</a>
<img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" />
</html>
